.dark{

    background-color: rgb(17, 16, 16);
    color: white;
    }

.card{

background-color: blue;
color: white;

}

.none{

    display: none;
}
.block{

    display: block;
}
.add{

    width: 50%;
    
    margin: auto;
    }
    .daad{
        width:100%;
    
    
      
    }

    .check{

background-color: brown;
text-decoration: line-through;

    }

@media(max-width:600){


.alert  .text-center{
    width: 50%;
}


}